<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>hiddenFormField</display-name>
  <welcome-file-list>
  	<welcome-file>books.html</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SetFIelds</display-name>
    <servlet-name>SetFIelds</servlet-name>
    <servlet-class>hidden.SetFIelds</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFIelds</servlet-name>
    <url-pattern>/set</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFields</display-name>
    <servlet-name>GetFields</servlet-name>
    <servlet-class>hidden.GetFields</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFields</servlet-name>
    <url-pattern>/get</url-pattern>
  </servlet-mapping>
</web-app>