<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ServletFirst</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletDemo</display-name>
    <servlet-name>ServletDemo</servlet-name>
    <servlet-class>app.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDemo</servlet-name>
    <url-pattern>/app1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenericServletDemo</display-name>
    <servlet-name>GenericServletDemo</servlet-name>
    <servlet-class>app.GenericServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenericServletDemo</servlet-name>
    <url-pattern>/app2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpServletDemo</display-name>
    <servlet-name>HttpServletDemo</servlet-name>
    <servlet-class>app.HttpServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpServletDemo</servlet-name>
    <url-pattern>/app3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormDetails</display-name>
    <servlet-name>FormDetails</servlet-name>
    <servlet-class>app.FormDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormDetails</servlet-name>
    <url-pattern>/details</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentDB</display-name>
    <servlet-name>StudentDB</servlet-name>
    <servlet-class>app.StudentDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentDB</servlet-name>
    <url-pattern>/studentdetails</url-pattern>
  </servlet-mapping>
</web-app>